# --- IDE & System Files ---
.idea/
*.iml
*.iws
.shelf/
out/
.DS_Store
Thumbs.db
*.log

# --- Gradle & Build Artifacts ---
.gradle/
build/
/*/build/
captures/
.externalNativeBuild/
.cxx/

# --- Local & Sensitive Configuration ---
# Never push these to GitHub
local.properties
google-services.json
*.jks
*.keystore

# --- Professional Extras ---
.navigation/
assetWizardSettings.xml
C:\Users\KANU\Desktop\Kanu\My code\Androids\WeatherApp\app\ERRORLOG.md